body {
    width: 80%;
    margin: auto;
    color: green;
    font-family: "Comic Sans MS";
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}